<!DOCTYPE html>
<html lang="en">
<head>
    <title>VOD Chat Activity Analyzer</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/modern-normalize@^2/modern-normalize.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">
    {% block scripts %}{% endblock %}
</head>
<body>
{% if g.main_menu %}
    {% include "main-menu.html" %}
{% endif %}
<main class="container">
    {% block content required %}{% endblock %}
</main>
</body>
</html>
