<!DOCTYPE html>
<html lang="en">
<head>
    <title>VOD Chat Activity Analyzer</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/modern-normalize@^2/modern-normalize.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">
    <script type="text/javascript" src="{{ url_for("static", filename="theming.js") }}"></script>
    <script>setTheme(getCurrentTheme())</script>
    <script type="text/javascript" src="{{ url_for("static", filename="scripts.js") }}" defer></script>
    {% block scripts %}{% endblock %}
</head>
<body>
{% if g.main_menu %}
    {% include "main-menu.html" %}
{% endif %}
<main class="container">
    <h1 style="margin-top: 0;">{% block content_title %}{% endblock %}</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <p class="result_message {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endwith %}

    {% block content required %}{% endblock %}
</main>
</body>
</html>
