{% extends "base-layout.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename="plotly-2.32.0.min.js") }}" defer></script>
    <script type="text/javascript" src="{{ url_for("static", filename="twitch-embed-v1.js") }}" defer></script>
    <script type="text/javascript" src="https://www.youtube.com/player_api" defer></script>
    <script type="text/javascript" src="{{ url_for("static", filename="scripts.js") }}" defer></script>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 0;">Chat Activity Statistics</h1>

    {% for alias, graph_data in graphs | dictsort %}
        <div id="section_{{ alias }}">
            {% if graph_data.url %}
                <h3>
                    {{ loop.index0 + 1 }}. VOD URL:
                    <a href="{{ graph_data.url }}" target="_blank">
                        {{ graph_data.caption or graph_data.url }}
                    </a>
                </h3>
            {% else %}
                <h3>{{ loop.index0 + 1 }}. {{ graph_data.caption }}</h3>
            {% endif %}
        </div>

        {% if graph_data.emoticons_top | length %}
            <div style="margin-top: .5rem">
                <button type="button" onclick="toggleVisibility('emoticons-container-{{ alias }}')">Show emoticons</button>
            </div>
            <div id="emoticons-container-{{ alias }}" class="emoticons-container hidden">
                <p>(Choose emoticons you want to see on the emoticons subchart, 6 maximum)</p>
                <form method="get" action="">
                    <ol id="emoticons-list-{{ alias }}"></ol>
                    <input type="submit" value="Filter"/>
                </form>
                <hr/>
            </div>
        {% endif %}

        {% if graph_data.platform %}
            <div style="margin-top: .5rem">
                <button type="button" onclick="toggleVisibility('player-container-{{ alias }}')">Show the video</button>
            </div>
            <div id="player-container-{{ alias }}" class="player-container hidden">
                <p>(Shift+Click on the chart to seek the video to this time, resize the player by mouse drag the bottom right corner)</p>
                <div class="resizable">
                    <div id="{{ graph_data.platform }}-player-{{ alias }}" class="{{ graph_data.platform }}-player"></div>
                </div>
                <hr/>
            </div>
        {% endif %}

        <div id="{{ alias }}"></div>
    {% endfor %}

    <script>
        const plotlyConfig = {
            modeBarButtonsToRemove: ['select', 'lasso2d'],
        }

        document.addEventListener("DOMContentLoaded", () => {
            {% for alias, graph_data in graphs.items() %}
                (function () {
                    const plotly = {{ graph_data.plotly | safe }}
                    Plotly.newPlot("{{ alias }}", plotly.data, plotly.layout, plotlyConfig)

                    const emoticonsTop = Object.fromEntries({{ graph_data.emoticons_top | tojson }})
                    const selectedEmoticons = {{ graph_data.selected_emoticons | tojson }}
                    fillList("emoticons-list-{{ alias }}", "{{ graph_data.hash }}", emoticonsTop, selectedEmoticons)
                })();

                {% if graph_data.platform == "twitch" and graph_data.vod_id %}
                    (function () {
                        const vodId = "{{ graph_data.vod_id }}"
                        const player = buildTwitchPlayer("{{ graph_data.platform }}-player-{{ alias }}", vodId)

                        const $plot = document.getElementById("{{ alias }}")
                        onPointClick($plot, seconds => {
                            if (isVisible("player-container-{{ alias }}")) {
                                player.seek(seconds)
                            }
                        })
                    })();
                {% endif %}
                {% if graph_data.platform == "youtube" and graph_data.vod_id %}
                    (async function () {
                        const vodId = "{{ graph_data.vod_id }}"
                        const player = await buildYoutubePlayer("{{ graph_data.platform }}-player-{{ alias }}", vodId)

                        const $plot = document.getElementById("{{ alias }}")
                        onPointClick($plot, seconds => {
                            if (isVisible("player-container-{{ alias }}")) {
                                player.seekTo(seconds)
                            }
                        })
                    })();
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}
