{% extends "base-layout.html" %}

{% block content %}
    <h1>VOD Chat Activity Analyzer</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for("front.start_download") }}" method="POST">
        <label for="url1">
            Enter the same VOD URLs on different platforms (Twitch/YouTube/etc):
        </label>
        <ol class="vod-urls">
            <li>
                <input type="url" id="url1" name="url[]" required/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
        </ol>
        <p>
            <button type="submit">Find how fast your chat was!</button>
        </p>
    </form>
    <style></style>
{% endblock %}
