{% extends "base-layout.html" %}

{% block content %}
    <h1 style="margin-top: 0;">VOD Chat Activity Analyzer</h1>
    {% if error %}
        <p style="margin-top: 1rem; color: red;">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for(".start_download") }}" method="POST">
        <p style="margin-top: 1rem;">
            <label for="url1">
                Enter the same stream/show URLs on different platforms (Twitch/YouTube/etc):
            </label>
        </p>
        <ol class="vod-urls">
            <li>
                <input type="url" id="url1" name="url[]" required/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
            <li>
                <input type="url" name="url[]"/>
            </li>
        </ol>
        <p>
            <button type="submit">Analyze chats</button>
        </p>
    </form>
{% endblock %}
