:root {
    --color-background: #fff;
    --color-text-default: #111;
    --color-link: #06c;
    --color-link-hover: var(--color-link);
    --color-link-active: #e00;
    --color-link-visited: var(--color-link);
    --color-border: #888;
    --color-button-background: #ddd;
    --color-button-background-hover: #ccc;
    --color-button-background-focus: #bbb;
    --color-loader: #000;
}

.dark-theme {
    --color-background: #444;
    --color-text-default: #f0f2f3;
    --color-link: #6cf;
    --color-border: #777;
    --color-button-background: #222;
    --color-button-background-hover: #333;
    --color-button-background-focus: #444;
    --color-loader: #fff;
}

body, button {
    background-color: var(--color-background);
    color: var(--color-text-default);
}

input, textarea {
    background-color: var(--color-background);
    padding: .1rem .2rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-border);
    border-radius: 2px;
    color: var(--color-text-default);
}

a:not(.button) {
    color: var(--color-link);
}

a:not(.button):hover {
    color: var(--color-link-hover);
}

a:not(.button):active, a:not(.button):focus {
    color: var(--color-link-active) !important;
}

a:not(.button):visited {
    color: var(--color-link-visited);
}

button, .button {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: .25rem .5rem;
    background-color: var(--color-button-background);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-border);
    border-radius: 4px;
    color: var(--color-text-default);
    font-size: 16px;
    text-decoration: none;
}

button:hover, .button:hover {
    background-color: var(--color-button-background-hover);
}

button:focus, .button:focus {
    background-color: var(--color-button-background-focus);
}

body {
    /* To fix plotly width issue in Chrome */
    overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 0;
}

menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: .25rem;
  gap: .5em;
}

.container {
    padding: .5rem;
}

.manu-container {
    border-bottom: 1px solid black;
}

.vod-urls input {
    width: 400px;
}

.hidden {
    display: none !important;
}

.resizable {
    resize: horizontal;
    overflow: hidden;
    border: 0;
}

.result_message {
    margin-top: 1rem;
}

.result_message.message {
    color: limegreen;
}

.result_message.error {
    color: red;
}

/* https://cssloaders.github.io/ */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-loader);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.emoticons-container {
    width: 100%;
    margin-top: 1rem;
}

.emoticons-container ol {
    list-style-position: inside;
    padding: 0;
    columns: 6;
}

.emoticons-container ol > li {
    margin-bottom: .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-container {
    margin-top: 1rem;
}

.player-container > div {
    min-width: 500px;
    width: 600px;
    max-width: 95vw;
}

.js-plotly-plot {
    margin-top: 1rem;
}

.twitch-player iframe, .youtube-player {
    height: 100%;
    aspect-ratio: 16 / 9;
}
