body {
    /* To fix plotly width issue in Chrome */
    overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 0;
}

menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: .25rem;
  gap: .5em;
}

.container {
    padding: 0.5rem;
}

.manu-container {
    border-bottom: 1px solid black;
}

.vod-urls input {
    width: 400px;
}

.hidden {
    display: none;
}

.resizable {
    resize: horizontal;
    overflow: hidden;
    border: 0;
}

.emoticons-container {
    width: 100%;
    margin-top: 1rem;
}

.emoticons-container ol {
    list-style-position: inside;
    padding: 0;
    columns: 6;
}

.emoticons-container ol > li {
    margin-bottom: .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-container {
    margin-top: 1rem;
}

.player-container > div {
    min-width: 500px;
    width: 600px;
    max-width: 95vw;
}

.js-plotly-plot {
    margin-top: 1rem;
}

.twitch-player iframe, .youtube-player {
    height: 100%;
    aspect-ratio: 16 / 9;
}
