<!DOCTYPE html>
<html lang="en">
<head>
    <title>VOD Chat Activity Analyzer - Results</title>
    <!-- Load Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Chat Activity Result</h1>
    <p>
        VOD URL: <a href="{{ url }}" target="_blank">{{ url }}</a>
    </p>
    <div id="graph"></div>
    <script>
        const graph = {{ graph_json | safe }}
        Plotly.newPlot('graph', graph.data, graph.layout)
    </script>
</body>
</html>
