<!DOCTYPE html>
<html lang="en">
<head>
    <title>VOD Chat Activity Analyzer - Results</title>
    <!-- Load Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Chat Activity Result</h1>

    {% for alias, graph_data in graphs.items() %}
        <p>
            <b>{{ loop.index0 + 1 }}. VOD URL</b>: <a href="{{ graph_data.url }}" target="_blank">{{ graph_data.url }}</a>
        </p>
        <div id="{{ alias }}"></div>
        <script>
            const {{ alias }} = {{ graph_data.json | safe }}
            Plotly.newPlot('{{ alias }}', {{ alias }}.data, {{ alias }}.layout)
        </script>
    {% endfor %}
</body>
</html>
