<!DOCTYPE html>
<html lang="en">
<head>
    <title>VOD Chat Activity Analyzer - Results</title>
    <!-- Load Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Chat Activity Result</h1>

    {% for graph_data in graphs %}
        <p>
            <b>{{ loop.index0 + 1 }}. VOD URL</b>: <a href="{{ graph_data.url }}" target="_blank">{{ graph_data.url }}</a>
        </p>
        <div id="graph{{ loop.index0 }}"></div>
        <script>
            const graph{{ loop.index0 }} = {{ graph_data.json | safe }}
            Plotly.newPlot('graph{{ loop.index0 }}', graph{{ loop.index0 }}.data, graph{{ loop.index0 }}.layout)
        </script>
    {% endfor %}
</body>
</html>
