<!DOCTYPE html>
<html lang="en">
<head>
    <title>VOD Chat Activity Analyzer</title>
</head>
<body>
    <h1>VOD Chat Activity Analyzer</h1>
    <form action="{{ url_for('start_download') }}" method="POST">
        <label for="url">
            Enter the VOD URL (Twitch/YouTube/etc):
        </label>
        <input type="text" id="url" name="url" required/>
        <p>
            <button type="submit">Find how fast your chat was!</button>
        </p>
    </form>
</body>
</html>
