{% extends "base-layout.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename="plotly-2.32.0.min.js") }}" defer></script>
    <script type="text/javascript" src="{{ url_for("static", filename="twitch-embed-v1.js") }}" defer></script>
    <script type="text/javascript" src="https://www.youtube.com/player_api" defer></script>
    <script type="text/javascript" src="{{ url_for("static", filename="scripts.js") }}" defer></script>
{% endblock %}

{% block content_title %}Chat Activity Statistics{% endblock %}

{% block content %}
    {% for alias, vod_data in vods | dictsort %}
        <div id="section_{{ alias }}">
            {% if vod_data.url %}
                <h3>
                    {{ loop.index0 + 1 }}. VOD URL:
                    <a href="{{ vod_data.url }}" target="_blank">
                        {{ vod_data.caption or vod_data.url }}
                    </a>
                </h3>
            {% else %}
                <h3>{{ loop.index0 + 1 }}. {{ vod_data.caption }}</h3>
            {% endif %}
        </div>

        <div id="loader-{{ alias }}" style="margin: 1rem;">
            <span class="loader"></span>
        </div>

        {% if vod_data.update_url %}
        <div id="reload-widget-{{ alias }}" class="hidden">
            <div style="margin-top: .5rem;">
                <button type="button" onclick="updateVodChat('{{ vod_data.update_url }}', '{{ vod_data.data_url }}', '{{ alias }}')">
                    Recalculate stats
                </button>
            </div>
        </div>
        {% endif %}

        <div id="emoticons-widget-{{ alias }}" class="hidden">
            <div style="margin-top: .5rem;">
                <button type="button" onclick="toggleVisibility('emoticons-container-{{ alias }}')">Show emoticons</button>
            </div>
            <div id="emoticons-container-{{ alias }}" class="emoticons-container hidden">
                <p>(Choose emoticons you want to see on the emoticons subchart, 6 maximum)</p>
                <form
                        method="get"
                        action=""
                        onsubmit="handleEmoticonsForm(this, '{{ vod_data.data_url }}', '{{ alias }}'); return false;"
                >
                    <ol id="emoticons-list-{{ alias }}"></ol>
                    <input type="submit" value="Filter"/>
                    <input type="reset" value="Deselect all"/>
                </form>
                <hr/>
            </div>
        </div>

        <div id="player-widget-{{ alias }}" class="hidden">
            <div style="margin-top: .5rem;">
                <button type="button" onclick="toggleVisibility('player-container-{{ alias }}')">Show the video</button>
            </div>
            <div id="player-container-{{ alias }}" class="player-container hidden">
                <p>(Shift+Click on the chart to seek the video to this time, resize the player by mouse drag the bottom right corner)</p>
                <div class="resizable">
                    <div id="player-{{ alias }}" class="{{ vod_data.platform }}-player"></div>
                </div>
                <hr/>
            </div>
        </div>

        <div id="{{ alias }}"></div>
    {% endfor %}

    <script>
        async function fetchAndRender(url, alias) {
            hide(`reload-widget-${alias}`)
            show(`loader-${alias}`)

            const response = await fetchUntilData(url, 5000)
            const graphData = await response.json()

            await renderGraph(alias, graphData)
            renderEmoticons(alias, graphData)
            await renderVideoPlayer(alias, graphData)

            hide(`loader-${alias}`)
            show(`reload-widget-${alias}`)
        }

        async function renderGraph(alias, graphData) {
            await Plotly.react(alias, graphData.plotly.data, graphData.plotly.layout, {
                modeBarButtonsToRemove: ['select', 'lasso2d'],
            })
        }

        function renderEmoticons(alias, graphData) {
            hide(`emoticons-widget-${alias}`)
            const emoticonsTop = Object.fromEntries(graphData.emoticons_top)
            fillEmoticonsList(
                `emoticons-list-${alias}`,
                emoticonsTop,
                graphData.selected_emoticons,
            )
            show(`emoticons-widget-${alias}`)
        }

        async function renderVideoPlayer(alias, graphData) {
            if (graphData.platform) {
                hide(`player-widget-${alias}`)
                await initVideoPlayer(graphData.platform, graphData.vod_id, alias)
                show(`player-widget-${alias}`)
            }
        }

        async function initVideoPlayer(platform, vodId, alias) {
            const $plot = document.getElementById(alias)
            const playerNodeId = `player-${alias}`
            const playerContainerId = `player-container-${alias}`

            if (platform === "twitch") {
                await initTwitchVideoPlayer(vodId, playerNodeId, playerContainerId, $plot)
            }
            if (platform === "youtube") {
                await initYoutubeVideoPlayer(vodId, playerNodeId, playerContainerId, $plot)
            }
        }

        async function initTwitchVideoPlayer(vodId, playerNodeId, playerContainerId, $plot) {
            const player = buildTwitchPlayer(playerNodeId, vodId)

            onPointClick($plot, seconds => {
                if (isVisible(playerContainerId)) {
                    player.seek(seconds)
                }
            })
        }

        async function initYoutubeVideoPlayer(vodId, playerNodeId, playerContainerId, $plot) {
            const player = await buildYoutubePlayer(playerNodeId, vodId)

            onPointClick($plot, seconds => {
                if (isVisible(playerContainerId)) {
                    player.seekTo(seconds)
                }
            })
        }

        async function handleEmoticonsForm(form, url, alias) {
            const formData = getFormValues(form)

            const searchParams = new URLSearchParams()
            for (const param in formData) {
                if (Array.isArray(formData[param])) {
                    for (const value of formData[param]) {
                        searchParams.append(param, value)
                    }
                } else {
                    searchParams.append(param, formData[param])
                }
            }

            const requestUrl = `${url}?${searchParams}`

            await fetchAndUpdateWithoutPlayer(requestUrl, alias)
        }

        async function updateVodChat(updateUrl, dataUrl, alias) {
            show(`loader-${alias}`)
            hide(`reload-widget-${alias}`)
            hide(`emoticons-widget-${alias}`)

            const request = new Request(updateUrl, {method: "POST"})
            await fetchWithTimeout(request, 10000)

            await fetchAndUpdateWithoutPlayer(dataUrl, alias)
        }

        async function fetchAndUpdateWithoutPlayer(url, alias) {
            hide(`reload-widget-${alias}`)
            show(`loader-${alias}`)

            const response = await fetchUntilData(url, 5000)
            const graphData = await response.json()

            await renderGraph(alias, graphData)
            renderEmoticons(alias, graphData)

            hide(`loader-${alias}`)
            show(`reload-widget-${alias}`)
        }

        document.addEventListener("DOMContentLoaded", () => {
            {% for alias, vod_data in vods.items() %}
                fetchAndRender("{{ vod_data.data_url }}", "{{ alias }}")
            {% endfor %}
        })
    </script>
{% endblock %}
